.s_content .s_content_inner .art_content {
    width: 1120px;
    padding: 30px 10px;
    overflow: hidden;
}

.s_content .s_content_inner .art_content .art_left {
    float: left;
    color: #777;
    line-height: 20px;
    overflow: hidden;
}

.s_content .s_content_inner .art_content .art_left h2 {
    font-weight: 700;
}

.s_content .s_content_inner .art_content .art_left ul li {
    width: 814px;
    height: 124px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: 28px 0 38px;
}

.s_content .s_content_inner .art_content .art_left ul li .art_pic {
    float: left;
    width: 200px;
    height: 100%;
    text-align: center;
    margin-right: 14px;
}

.s_content .s_content_inner .art_content .art_left ul li .art_pic img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.s_content .s_content_inner .art_content .art_left ul li .art_text {
    float: left;
    width: 600px;
}

.s_content .s_content_inner .art_content .art_left ul li .art_text h3 {
    color: #555;
    font-weight: 700;
    padding-top: 5px;
}

.s_content .s_content_inner .art_content .art_left ul li .art_text p {
    font-size: 14px;
    padding: 8px 0;
}

.s_content .s_content_inner .art_content .art_left ul li .art_text span {
    font-size: 12px;
}


.s_content .s_content_inner .art_content .art_right {
    float: right;
    width: 262px;
    margin-right: 10px;
    color: #555;
}

.s_content .s_content_inner .art_content .art_right h4 {
    line-height: 56px;
    border-bottom: 1px solid #ddd;
}

.s_content .s_content_inner .art_content .art_right .art_cata ul li {
    line-height: 48px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.s_content .s_content_inner .art_content .art_right .art_cata ul li.first {
    background-color: #f6f6f6;
} 

.s_content .s_content_inner .art_content .art_right .art_cata ul li.last {
    border-bottom: 0;
}

.s_content .s_content_inner .art_content .art_right .art_cata ul li:hover {
    color: #000;
    background-color: #f6f6f6;
}

.s_content .s_content_inner .art_content .art_right .art_cata ul li a {
    display: block;
}

.s_content .s_content_inner .art_content .art_right .art_cata ul li a span {
    padding: 15px;
    font-weight: 600;
}


.s_content .s_content_inner .art_content .art_right .art_tag p {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.s_content .s_content_inner .art_content .art_right .art_tag p span {
    padding: 5px 10px;
    background-color: #efefef;
    margin-right: 10px;
}
