/* 版心 */
.inner_c {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-family: '微软雅黑';
}

.common_product {
    padding-top: 20px;
    position: relative;
}

.common_product .pic {
    width: 200px;
    margin: 20px auto;
}

.common_product .pic img {
    width: 100%;
}

.common_product .content {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.common_product .content .price {
    color: #d82e2e;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.common_product:hover .mask {
    display: block;
}

.mask .btn {
    display: block;
    width: 138px;
    height: 52px;
    background-color: #c78a49;
    color:#fff;
    text-align: center;
    line-height: 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -26px;
    margin-left: -69px;
    border-radius: 4px;
}

.common_title {
    text-align: center;
    padding: 45px 0 18px;
}

.common_title h3 {
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
}

.common_title p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
}


/* header部分开始 */
.header {
    height: 68px;
    width: 100%;
    line-height: 68px;
    text-align: center;
    position: relative;
    border-bottom: 2px solid grey;
    z-index: 1;
}

.header .header_c .logo {
    height: 68px;
    width: 140px;
    line-height: 68px;
    padding: 0 15px;
    float: left;
}

.header .header_c .logo a {
    display: block;
    text-indent: -100em;
    overflow: hidden;
    background: url(../img/logo.png) no-repeat center center;
}

.header .header_c .all_pro {
    width: 168px;
    float: left;
    margin: 0 10px;
}

.header .header_c .all_pro .all_type {
    display: block;
}

.header .header_c .all_pro .all_type .icon {
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #333;
    position: relative;
    top: 3px;
    left: 5px;
}

.header .header_c .all_pro:hover .all_type .icon {
    border-top-color: transparent;
    border-bottom-color: #333;
    top: -3px;
}

.header .header_c .all_pro:hover {
    background-color: #e6d6c6;
}

.header .header_c .all_pro .product {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 68px;
    left: 0;
    display: none;
}

.header .header_c .all_pro:hover .product {
    display: block;
}

.header .header_c .all_pro .product .pro_inner {
    text-align: left;
    line-height: 38px;
    padding-left: 220px;
}

.header .header_c .all_pro .product .pro_inner .inn_nav {
    width: 155px;
    padding-top: 45px;
    float: left;
}

.header .header_c .all_pro .product .pro_inner .inn_nav a:hover {
    color: #e6d6c6;
}

.header .header_c .all_pro .product .pro_inner .inn_detail {
    float: left;
    width: 744px;
    margin-left: 45px;
}

.header .header_c .all_pro .product .pro_inner .inn_detail .common_product {
    width: 248px;
    height: 340px;
    float: left;
}

.header .header_c .header_nav ul li a {
    display: block;
    float: left;
    padding: 0 28px;
}

.header .header_c .header_nav ul li a:hover {
    background-color: #e6d6c6;;
}

.header .header_c .search {
    width: 154px;
    height: 68px;
    float: left;
    background: url(../img/img00.png) no-repeat center right
}

.header .header_c .login {
    float: right;
}

.header .header_c .login a {
    padding: 0 5px;
}

.header .header_c .login span {
    padding: 0 5px;
}

.header .header_c .login .gwc {
    display: inline-block;
}

.header .header_c .login .gwc .amount {
    display: inline-block;
    padding-left: 26px;
    background: url(../img/0.png) no-repeat center left;
}

.header .header_c .login .gwc .checkout {
    background-color: #f2f2f2;
    position: absolute;
    top: 68px;
    right: 20px;
    width: 230px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
}

.header .header_c .login .gwc:hover .checkout {
    display: block;
}

.header .header_c .login .gwc .checkout .checkout_con {
    line-height: 58px;
    font-size: 12px;
    font-weight: bold;
}

.header .header_c .login .gwc .checkout .checkout_con p {
    display: inline;
    padding-right: 5px;
}

.header .header_c .login .gwc .checkout .checkout_con p span {
    color: #d82e2e;
}

.header .header_c .login .gwc .checkout .checkout_btn a {
    display: block;
    width: 220px;
    background-color: #c78a49;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    line-height: 44px;
}

/* banner部分开始 */
.banner {
    height: 444px;
    background-color: blueviolet;
    position: relative;
}

.banner .banner_c {
    position: relative;
}

.banner ul li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner ul li.cur {
    display: block;
}

.banner ul li a img {
    width: 100%;
}

.banner .btns {
    width: 90px;
    height: 4px;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: 20px;
}

.banner .btns ol li {
    list-style: none;
    width: 20px;
    height: 4px;
    background-color: #fff;
    margin: 5px;
    float: left;
    cursor: pointer;
}

.banner .btns ol li.cur {
    background-color: #c78a49;
}

/* 推荐新品内容 */
.new_pro .pro_detail {
    height: 365px;
    position: relative;
}

.new_pro .pro_detail ul li {
    float: left;
    width: 275px;
    height: 365px;
    margin: 0 5px;
}

.new_pro .pro_detail ul li.common_product .pic {
    width: 100%;
}

.new_pro .pro_detail .btns a {
    position: absolute;
    top: 45%;
    font-size: 28px;
    font-weight: bold;
    font-family: serif;
    color:#C3C3C3;
}

.new_pro .pro_detail .btns a.left {
    left: -30px;
}

.new_pro .pro_detail .btns a.right {
    right: -30px;
}
