.s_content .s_content_inner .s_type {
    padding: 30px 0;
}

.s_content .s_content_inner .s_type table {
    width: 1120px;
    border: 1px solid #ddd;
    border-collapse: separate;
    border-radius: 4px;
    overflow: hidden;
    line-height: 52px;
    color: #555;
    font-size: 14px;
    margin: 0 10px;
}

.s_content .s_content_inner .s_type table tr:hover {
    background: #f3f4f4;
}

.s_content .s_content_inner .s_type table .row1 th,.s_content .s_content_inner .s_type table .row1 td {
    border-bottom: 1px solid #ddd;
}

.s_content .s_content_inner .s_type table th {
    width: 90px;
    text-align: center;
    font-weight: 600;
}

.s_content .s_content_inner .s_type table td {
    border-left: 1px solid #ddd;
}

/* .s_content .s_content_inner .s_type table .row2 {
    background: #f3f4f4;
} */

.s_content .s_content_inner .s_type table td a {
    padding: 0 10px;
}

.s_content .s_content_inner .s_type table td a:hover {
    text-decoration: underline;
}

.s_content .s_content_inner .s_detail {
    overflow: hidden;
    margin: 0 20px;
    font-size: 14px;
}

.s_content .s_content_inner .s_detail .sort {
    float: left;
    color: #999;
    margin: 5px;
}

.s_content .s_content_inner .s_detail .sort span {
    font-weight: 600;
}

.s_content .s_content_inner .s_detail .sort a {
    padding: 2px 8px;
    border: 1px solid #d6d6d6;
    margin: 0 5px;
}

.s_content .s_content_inner .s_detail .amount {
    float: right;
}

.s_content .s_content_inner .s_detail .amount span {
    color: #999;
}

.s_content .s_content_inner .s_products ul {
    overflow: hidden;
}

.s_content .s_content_inner .s_products ul li.common_product {
    width: 245px;
    float: left;
    margin: 20px;
    padding-top: 0;
}

.s_content .s_content_inner .s_products ul li.common_product .pic {
    width: 100%;
    margin: 0;
}

.s_content .s_content_inner .s_products ul li.common_product .s_content {
    padding-top: 0;
    margin: 20px 0;
    background: #fff;
}
