.s_content {
    padding-top: 68px;
    background: #f2f2f2;
}

.s_content .s_content_inner {
    background: #fff;
    position: relative;
}

.s_content .s_content_inner .bread_nav {
    padding-top: 30px;
    margin-left: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #555;
    line-height: 40px;
}

.s_content .s_content_inner .page {
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.s_content .s_content_inner .page span {
    color: #a3a8c2;
}

.s_content .s_content_inner .page a {
    display: inline-block;
    padding: 6px 10px;
    margin: 0 5px;
    border-radius: 4px;
}

.s_content .s_content_inner .page a:hover {
    color: #fff;
    background: #9dafb8;
}
